# --- System Files ---
.DS_Store

# --- R Environment (CRITICAL: .RData is 110MB) ---
.RData
.Rhistory

# --- Project Data & Outputs ---
data/
results/
src/efm/efm_archive
src/archive
src/efm/Thermodynamic

